/* navbar css */
nav {
  background-color: #111111;
}
nav a {
  color: #71c55d;
  margin: 0 0.25rem;
}
nav h2 {
  margin-right: 40px;
}

nav a:hover {
  color: teal;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

/* Landing Page */
.landing {
  background: #292929;
  height: 100vh;
  opacity: 0.9;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-inner img {
  margin: 0 20px;
}

/* Landing Body */
.landinghead {
  margin-top: 90px;
  font-family: "Bitter", serif;
  font-weight: 600;
  color: #2ecc71;
}
.short {
  display: none;
}

@media screen and (max-width: 750px) {
  .short {
    display: inline-block;
  }
  .long {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  div.landinghead {
    font-size: 60px;
  }
}
@media screen and (max-width: 601px) {
  div.landinghead {
    font-size: 40px;
  }
}
.subhead {
  font-size: 30px;
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  div.subhead {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  div.subhead {
    font-size: 25px;
  }
}

.landinghead img {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 1200px) {
  img.img1 {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  img.img2 {
    height: 100px;
    width: 100px;
  }
}

.shortevent {
  display: none;
}

@media (max-width: 1200px) {
  .shortevent {
    display: inline-block;
  }
  .longevent {
    display: none;
  }
}
.upcoming h1 {
  overflow: hidden;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.upcoming h1:before,
.upcoming h1:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.upcoming h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.upcoming h1:after {
  left: 0.5em;
  margin-right: -50%;
}
.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: minmax(150px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-1 img {
  width: 100%;
  height: auto;
}

#readmore {
  color: #2ecc71;
}

.grid-2 #readmore:hover {
  color: #00b894;
}

.workshop h1 {
  overflow: hidden;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.workshop h1:before,
.workshop h1:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.workshop h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.workshop h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.workevent {
  transition: all 0.1s ease-in-out 0s;
}

.workevent:hover {
  box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out 0s;
}

@media (max-width: 768px) {
  .topic {
    height: 80px;
    width: 80px;
  }
}
/* About us */
.abouthead p:nth-child(1) {
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
  color: #2ecc71;
  margin-bottom: 0;
}

.abouthead p:nth-child(2) {
  color: white;
  word-spacing: 8px;
  line-height: 35px;
  margin-bottom: 0;
  margin-bottom: 35px;
}

.abouthead p:nth-child(3) {
  font-size: 50px;
  text-align: center;
  color: #2ecc71;
  margin-bottom: 50px;
}

/* about domains */
#domains .feature-block {
  box-shadow: #00b894 2.5px 2.5px 2.5px;
  background-color: #636e72;
  margin-bottom: 60px;
  border-radius: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
}
#domains .feature-block img {
  margin-left: 120px;
}
#domains .feature-block h4 {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#domains .feature-block p {
  color: white;
  margin-bottom: 25px;
  word-spacing: 5px;
  text-align: center;
  line-height: 35px;
}

/* Contact Us */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: 5px;
  margin-top: 20px;
}

.contacthead {
  font-size: 50px;
  text-align: center;
  margin-top: 120px;
  color: #2ecc71;
  margin-bottom: 0;
}

/* Register */
.register {
  margin-top: 120px;
}
.register h1 {
  color: #2ecc71;
  margin-bottom: 25px;
}

/* forms */

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 10px;
}

.form input[type="submit"],
button {
  font: inherit;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

/* Blog */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* footer */
.footer {
  background: #151515;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #71c55d;
}

.footer .copyrights p,
.footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}

/* Image slider */
/* #slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
} */
header {
  border: 1px solid white;
  background: #000;
}

header,
#slider img {
  width: 1200px;
  height: 675px;
}

header {
  overflow: hidden;
}
#slider {
  transform: translateX(-1200px);
  -webkit-transform: translate(-1200px);
  -moz-transform: translate(-1200px);
  -o-transform: translate(-1200px);
  animation-name: slider;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slider {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(1200px);
  }
  45% {
    transform: translateX(1200px);
  }
  50% {
    transform: translateX(2400px);
  }
  70% {
    transform: translateX(2400px);
  }
  75% {
    transform: translateX(3600px);
  }
  95% {
    transform: translateX(3600px);
  }
  100% {
    transform: translateX(4800px);
  }
}

/* Events Section */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.banner img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 400px;
  position: relative;
  margin-bottom: 20px;
}

.grid-events {
}
