html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/* navbar css */
nav {
  background-color: #111111;
}
nav a {
  color: #71c55d;
  margin: 0 0.25rem;
}
nav h2 {
  margin-right: 40px;
}

nav a:hover {
  color: teal;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

/* Landing Page */
.landing {
  background: #292929;
  height: 100vh;
  opacity: 0.9;
}

@media screen and (max-width: 590px) {
  .landing {
    margin-bottom: 1600px;
  }
  .landing .future {
    margin-top: 0;
  }
}
@media screen and (min-width: 590px) {
  .landing {
    margin-bottom: 900px;
  }
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-inner img {
  margin: 0 20px;
}

/* Landing Body */
.landinghead {
  margin-top: 90px;
  font-family: "Bitter", serif;
  font-weight: 600;
  color: #2ecc71;
  padding-bottom: 50px;
}
.short {
  display: none;
}

@media screen and (max-width: 750px) {
  .short {
    display: inline-block;
  }
  .long {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  div.landinghead {
    font-size: 60px;
  }
}
@media screen and (max-width: 601px) {
  div.landinghead {
    font-size: 40px;
  }
}
.subhead {
  font-size: 30px;
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  div.subhead {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  div.subhead {
    font-size: 25px;
  }
}

.landinghead img {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 1200px) {
  img.img1 {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  img.img2 {
    height: 100px;
    width: 100px;
  }
}

.shortevent {
  display: none;
}

@media (max-width: 1200px) {
  .shortevent {
    display: inline-block;
  }
  .longevent {
    display: none;
  }
}
.upcoming h1 {
  overflow: hidden;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.upcoming h1:before,
.upcoming h1:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.upcoming h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.upcoming h1:after {
  left: 0.5em;
  margin-right: -50%;
}
.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: minmax(150px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-1 img {
  width: 100%;
  height: auto;
}

#readmore {
  color: #2ecc71;
}

#readmore:hover {
  color: darkgreen;
}

.workshop h1 {
  overflow: hidden;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.workshop h1:before,
.workshop h1:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.workshop h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.workshop h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.workevent {
  transition: all 0.1s ease-in-out 0s;
}

.workevent:hover {
  box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out 0s;
}

@media (max-width: 768px) {
  .topic {
    height: 80px;
    width: 80px;
  }
}

.smallcards {
  display: none;
}

@media screen and (max-width: 590px) {
  .smallcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 0px;
  }
  .bigcards {
    display: none;
  }
}

.grid-cards-item {
  text-align: center;
}

/* About us */
.abouthead p:nth-child(1) {
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
  color: #2ecc71;
  margin-bottom: 0;
}

.abouthead p:nth-child(2) {
  color: white;
  word-spacing: 8px;
  line-height: 35px;
  margin-bottom: 0;
  margin-bottom: 35px;
}

.abouthead p:nth-child(3) {
  font-size: 50px;
  text-align: center;
  color: #2ecc71;
  margin-bottom: 50px;
}

/* about domains */
#domains .feature-block {
  box-shadow: #00b894 2.5px 2.5px 2.5px;
  background-color: #636e72;
  margin-bottom: 60px;
  border-radius: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
}
#domains .feature-block img {
  margin-left: 120px;
}
#domains .feature-block h4 {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#domains .feature-block p {
  color: white;
  margin-bottom: 25px;
  word-spacing: 5px;
  text-align: center;
  line-height: 35px;
}

/* Contact Us */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: 5px;
  margin-top: 20px;
}

.contacthead {
  font-size: 50px;
  text-align: center;
  margin-top: 120px;
  color: #2ecc71;
  margin-bottom: 0;
}

/* Register */
.register {
  margin-top: 120px;
}
.register h1 {
  color: #2ecc71;
  margin-bottom: 25px;
}

/* forms */

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 10px;
}

.form input[type="submit"],
button {
  font: inherit;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

/* Blog */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* footer */
.footer {
  background: #151515;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #71c55d;
  width: 100%;
}

.footer .copyrights p,
.footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}

/* Image slider */
/* #slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
} */
header {
  border: 1px solid white;
  background: #000;
}

header,
#slider img {
  width: 1200px;
  height: 675px;
}

header {
  overflow: hidden;
}
#slider {
  transform: translateX(-1200px);
  -webkit-transform: translate(-1200px);
  -moz-transform: translate(-1200px);
  -o-transform: translate(-1200px);
  animation-name: slider;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slider {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(1200px);
  }
  45% {
    transform: translateX(1200px);
  }
  50% {
    transform: translateX(2400px);
  }
  70% {
    transform: translateX(2400px);
  }
  75% {
    transform: translateX(3600px);
  }
  95% {
    transform: translateX(3600px);
  }
  100% {
    transform: translateX(4800px);
  }
}

/* Events Section */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.banner img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 400px;
  position: relative;
  margin-bottom: 20px;
}

.video {
  margin-top: 40px;
  margin-bottom: 30px;
}
/* Event Registration */

.eventregistration {
  margin-top: 120px;
  margin-bottom: 40px;
}
.eventregistration h1 {
  color: #2ecc71;
  margin-bottom: 40px;
}

/*================================ Team Page *=======================================*/
.team {
  margin-top: 120px;
  margin-left: 0.5%;
}
.box {
  background-color: #2d3436;
  box-shadow: 8px 8px 8px 8px rgb(15, 0, 0);
  border-radius: 20px;
  margin-left: 70px;
  width: 60%;
  /* height:100%; */
  margin-right: 30px;
  padding-bottom: 0px;
}
.box .dp {
  display: inline-block;
  height: 60px;
  width: 300px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
  margin-left: 170px;
  margin-top: 30px;
}

.box .dp ::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.box:hover .dp ::before {
  height: 100%;
}

.box .dp ::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.box .dp img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  border: 10px solid crimson;
}

.box:hover .dp img {
  box-shadow: 0 0 0 14px #2d3436;
  transform: scale(0.7);
  border-color: rgb(174, 175, 175);
}
/* .box .dp{ */
/* background-color: crimson; 
  /* border-radius: 1200px 500px 550px 750px; */
/* background-color: crimson;
border-radius: 350px 300px 350px 350px; */

.box:hover .bg {
  background-color: crimson;
  border-radius: 0px 0px 250px 250px;
  border-bottom-color: #2d3436;
  border-bottom: 0px;
}

.name h2 {
  /* margin-left: 24%;  */
  margin-top: 10%;
  font-size: 30px;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
}
.name h5 {
  /* margin-left: 10%; */
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name h3{
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding-bottom: 5px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i {
  padding-right: 3%;
  padding-left: 3%;
  font-size: 26px;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #2d3436;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.bluebox {
  background-color: #2d3436;
  margin-bottom: 0px;
  margin-top: 0px;
}
.box:hover .bluebox {
  color: #2d3436;
  background-color: crimson;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.box .bluebox .icons .i a:hover {
  color: crimson;
  background-color: #2d3436;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.skills {
  width: 310px;
  /* margin: 5px  0; */
  padding: 10px 10px 60px 10px;
  margin-top: 0px;
  margin-right: 120px;
}
.team li {
  position: relative;
  list-style: none;
  margin: 25px 0;
  font-weight: 500;
  color: white;
  padding-right: 30px;
}
.team li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 10px;
  background-color: rgba(220, 20, 60, 0.5);
  border-radius: 1000px;
}
.team li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 10px;
  background-color: rgba(220, 20, 60, 1);
  border-radius: 1000px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.s1:after {
  animation-name: s1;
}
@keyframes s1 {
  to {
    width: 90%;
  }
}
.s2:after {
  animation-name: s2;
}
@keyframes s2 {
  to {
    width: 80%;
  }
}
.s3:after {
  animation-name: s3;
}
@keyframes s3 {
  to {
    width: 70%;
  }
}
.s4:after {
  animation-name: s4;
}
@keyframes s4 {
  to {
    width: 70%;
  }
}
.s5:after {
  animation-name: s5;
}
@keyframes s5 {
  to {
    width: 60%;
  }
}
.s6:after {
  animation-name: s6;
}
@keyframes s6 {
  to {
    width: 60%;
  }
}

.s7:after {
  animation-name: s7;
}
@keyframes s7 {
  to {
    width: 90%;
  }
}
.s8:after {
  animation-name: s8;
}
@keyframes s8 {
  to {
    width: 80%;
  }
}
.s9:after {
  animation-name: s9;
}
@keyframes s9 {
  to {
    width: 80%;
  }
}
.s10:after {
  animation-name: s10;
}
@keyframes s10 {
  to {
    width: 70%;
  }
}
.s11:after {
  animation-name: s11;
}
@keyframes s11 {
  to {
    width: 70%;
  }
}
.s12:after {
  animation-name: s12;
}
@keyframes s12 {
  to {
    width: 70%;
  }
}

.s13:after {
  animation-name: s13;
}
@keyframes s13 {
  to {
    width: 90%;
  }
}
.s14:after {
  animation-name: s14;
}
@keyframes s14 {
  to {
    width: 85%;
  }
}
.s15:after {
  animation-name: s15;
}
@keyframes s15 {
  to {
    width: 80%;
  }
}
.s16:after {
  animation-name: s16;
}
@keyframes s16 {
  to {
    width: 80%;
  }
}
.s17:after {
  animation-name: s17;
}
@keyframes s17 {
  to {
    width: 60%;
  }
}
.s18:after {
  animation-name: s18;
}
@keyframes s18 {
  to {
    width: 60%;
  }
}

.s19:after {
  animation-name: s19;
}
@keyframes s19 {
  to {
    width: 95%;
  }
}
.s20:after {
  animation-name: s20;
}
@keyframes s20 {
  to {
    width: 85%;
  }
}
.s21:after {
  animation-name: s21;
}
@keyframes s21 {
  to {
    width: 75%;
  }
}
.s22:after {
  animation-name: s22;
}
@keyframes s22 {
  to {
    width: 50%;
  }
}
.s23:after {
  animation-name: s23;
}
@keyframes s23 {
  to {
    width: 45%;
  }
}
.s24:after {
  animation-name: s24;
}
@keyframes s24 {
  to {
    width: 37%;
  }
}

.s25:after {
  animation-name: s25;
}
@keyframes s25 {
  to {
    width: 80%;
  }
}
.s26:after {
  animation-name: s6;
}
@keyframes s26 {
  to {
    width: 70%;
  }
}
.s27:after {
  animation-name: s27;
}
@keyframes s27 {
  to {
    width: 50%;
  }
}
.s28:after {
  animation-name: s28;
}
@keyframes s28 {
  to {
    width: 50%;
  }
}

.s29:after {
  animation-name: s29;
}
@keyframes s29 {
  to {
    width: 90%;
  }
}
.s30:after {
  animation-name: s30;
}
@keyframes s30 {
  to {
    width: 90%;
  }
}
.s31:after {
  animation-name: s31;
}
@keyframes s31 {
  to {
    width: 80%;
  }
}
.s32:after {
  animation-name: s32;
}
@keyframes s32 {
  to {
    width: 70%;
  }
}

.s33:after {
  animation-name: s33;
}
@keyframes s33 {
  to {
    width: 80%;
  }
}
.s34:after {
  animation-name: s34;
}
@keyframes s34 {
  to {
    width: 60%;
  }
}
.s35:after {
  animation-name: s35;
}
@keyframes s35 {
  to {
    width: 40%;
  }
}

.name h5 {
  display: flex;
  font-size: 16px;
  /* margin-left: 35%; */
  justify-content: center;
  align-items: center;
}
hr.mlline {
  width: 18%;
  height: 0%;
  color: rgb(220, 20, 60);
}
.coreteam {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  padding-bottom: 160px;
  margin-right: 5%;
}

.teamhead {
  margin-left: 25%;
  padding-bottom: 50px;
}
.teamhead span {
  padding-left: 20px;
  padding-right: 20px;
  
}

.p {
  padding-bottom: 60px;
}

.sarvesh .skills {
  margin-bottom: 10%;
}


.mentorbox{
  background-color: #2d3436;
  box-shadow:8px 8px 8px 8px black;
  width:450px;
  height: 5px;
  padding-bottom: 238px;
  padding-left: 2px;
  

}
.mentor .name h5{
  padding-left: 2px;
}
.mentorbluebox {
  background-color: #2d3436;
  margin-bottom: 0px;
  margin-top: 0px;
}
.mentorbox:hover .mentorbluebox {
  color: #2d3436;
  background-color: crimson;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.mentorbox .mentorbluebox .icons .i a:hover {
  color: crimson;
  background-color: #2d3436;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.mentorbox .dp ::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.mentorbox:hover .dp ::before {
  height: 100%;
}

.mentorbox .dp ::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mentorbox .dp img {
  width: 100%;
  height: 0px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  border: 10px solid crimson;
  margin-left: 200px;
  margin-top:1% ;
}

.mentorbox:hover .dp img {
  box-shadow: 0 0 0 14px #2d3436;
  transform: scale(0.7);
  border-color: rgb(174, 175, 175);
}
.mentorbox:hover .bg {
  background-color: crimson;
  border-radius: 0px 0px 250px 250px;
  border-bottom-color: #2d3436;
  border-bottom: 0px;
  padding-bottom: 50px;
  transition: all 0.6s linear 0s;
}

.mentorcenter{
  margin-left: 33%;
  margin-bottom: 5%;
}
.mentorbox .dp {
  display: inline-block;
  height: 20px;
  width: 290px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
  margin-left: 30px;
  margin-top: 3px;
}
.mentorbox .name h2{
  font-size:38px;
}